<!--
    Copyright 2020 The Go Authors. All rights reserved.
    Use of this source code is governed by a BSD-style
    license that can be found in the LICENSE file.
-->
<!DOCTYPE html>
<html lang="en">
  <title>Go Releases</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/static/styles.css" />
  <body class="Site">
    <header class="Site-header">
      <div class="Header">
        <h1 class="Header-title">Go Releases</h1>
      </div>
    </header>
    <main class="Site-content">
      {{template "content" .}}
    </main>
  </body>
</html>
