[Unit]
Description=Run Buildlets in Docker
After=network.target

[Install]
WantedBy=network-online.target

[Service]
Type=simple
RemainAfterExit=true
ExecStart=/usr/local/bin/rundockerbuildlet \
     -env=host-linux-arm64-aws \
     -image=gobuilder-arm64-aws
