<!--
 Copyright 2022 The Go Authors All rights reserved.
 Use of this source code is governed by a BSD-style
 license that can be found in the LICENSE file.
-->

{{define "build-header"}}<header>
  <h1>
    <a href="/">Go Build Coordinator</a>
  </h1>
  <nav>
    <ul>
      <li><a href="https://build.golang.org/">Build Dashboard</a></li>
      <li><a href="https://perf.golang.org/dashboard">Performance Dashboard</a></li>
      <li><a href="/builders">Builders</a></li>
    </ul>
  </nav>
  <div class="clear"></div>
</header>{{end}}
