<!DOCTYPE html>
<!--
 Copyright 2022 The Go Authors. All rights reserved.
 Use of this source code is governed by a BSD-style
 license that can be found in the LICENSE file.
-->

<html>
<head><link rel="stylesheet" href="/style.css"/><title>Go Farmer</title></head>
<body>
{{template "build-header"}}

<div class="page">

<h2 id='builders'>Defined Builders</h2>

<table>
  <thead><tr><th>name</th><th>pool</th><th>owners</th><th>known issue</th><th>notes</th></tr>
  </thead>
    {{range .Builders}}
      <tr>
        <td>{{.Name}}</td>
        <td><a href='#{{.HostType}}'>{{.HostType}}</a></td>
        <td>{{builderOwners .}}</td>
        <td>{{range $i, $issue := .KnownIssues}}{{if ne $i 0}}, {{end}}<a href="https://go.dev/issue/{{$issue}}" title="This builder has a known issue. See: go.dev/issue/{{$issue}}.">#{{$issue}}</a>{{end}}</td>
        <td>{{.Notes}}</td>
      </tr>
    {{end}}
</table>

<h2 id='hosts'>Defined Host Types (pools)</h2>

<table>
  <thead><tr><th>name</th><th>type</th><th>notes</th></tr>
  </thead>
    {{range .Hosts}}
      <tr id='{{.HostType}}'>
        <td>{{.HostType}}</td>
        <td>{{.PoolName}}</td>
        <td>{{.Notes}}</td>
      </tr>
    {{end}}
</table>

</div>

</body>
</html>
