/*!
 * Copyright 2022 The Go Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

* {
  box-sizing: border-box;
}
body {
  color: #222;
  font-family: sans-serif;
  margin: 0;
  padding: 10px;
}

h1,
h2,
h1 > a,
h2 > a,
h1 > a:visited,
h2 > a:visited {
  color: #375eab;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}

h1 > a,
h2 > a {
  text-decoration: none;
}

h1 > a:hover,
h2 > a:hover {
  text-decoration: underline;
}

pre {
  font-family: monospace;
  font-size: 9pt;
}

header {
  background: #e0ebf5;
  margin: -10px -10px 0 -10px;
  padding: 10px 10px;
}
header h1 {
  display: inline;
  margin-right: 20px;
  padding-top: 5px;
}
nav {
  display: inline-block;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
}
nav a {
  background: #375eab;
  border: 1px solid #375eab;
  border-radius: 5px;
  color: white;
  display: inline-block;
  font-size: 16px;
  margin: 0;
  margin-right: 5px;
  padding: 10px;
  text-decoration: none;
}
nav .left-separator {
  border-left: 2px solid #b7b7b7;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
nav .alt-nav-button {
  background: none;
  border: 2px solid #375eab;
  border-radius: 5px;
  color: #375eab;
  display: inline-block;
  font-size: 16px;
  margin: 0;
  margin-right: 5px;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
}

#dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}
.Dashboard {
  margin: 0;
  padding: 0;
}
.Dashboard-topbar {
  margin: 0;
  padding: 0.625rem 0.625rem;
}
.Dashboard-title {
  text-align: center;
  background: #e0ebf5;
}
.Dashboard-controls {
  padding: 0.5rem;
}
.Dashboard-documentation {
  padding-left: 0.5rem;
}

.Dashboard-search-benchmark {
  display: inline-block;
  width: 300px;
}
.Dashboard-search-unit {
  display: inline-block;
  width: 90px;
}
input, select {
  border: 1px solid transparent;
  background-color: #f4f4f4;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  width: 100%;
}
input[type=submit] {
  background: #375eab;
  border: 1px solid #375eab;
  border-radius: 5px;
  color: white;
  display: inline-block;
  font-size: 16px;
  margin: 0;
  margin-right: 5px;
  padding: 10px;
  text-decoration: none;
}

.Dashboard-duration {
  display: inline-block;
  width: 4em;
}
input[type=number] {
  width: 100%;
}

.Dashboard-section {
  display: column;
  flex-direction: row;
  margin: 8px;
}
.Dashboard-section-expand {
  padding: 8px;
  width: 100%;
}
.Dashboard-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}
.Dashboard-grid-item {
  display: flex;
  flex-direction: column;
}
.Dashboard-table {
  padding: 16px;
  width: 100%;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
}
.Dashboard-table tr {
  border: none;
}
.Dashboard-table tr:nth-child(2n+1) {
  background: #f4f4f4;
}
.Dashboard-table tr:hover {
  background: #ffff99;
}
.Dashboard-table tr.selected {
  background: #ffff99;
}
.Dashboard-table th {
  background: #e0ebf5;
  color: #375eab;
  text-align: center;
}
.Dashboard-table td {
  padding: 0;
  text-align: center;
  border: none;
}
.Dashboard-table-commit {
  font-family: monospace;
}
.Dashboard-table-range svg {
  display: block;
  margin: 0 auto;
}
.Dashboard-regression-description {
  display: inline-block;
  width: 480px;
  font-style: oblique;
  text-align: center;
}
