<!DOCTYPE html>
<!--
 Copyright 2023 The Go Authors. All rights reserved.
 Use of this source code is governed by a BSD-style
 license that can be found in the LICENSE file.
-->

<html lang="en">
<head>
<title>Gomote Server</title>
<link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
  <h1>
    <a href="/">Gomote Server</a>
  </h1>
  <div class="clear"></div>
</header>

<h2>Instances <a href='#instances'>¶</a></h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Created</th>
      <th>Expires</th>
      <th>Swarming Task</th>
    </tr>
  </thead>
  <tbody>
    {{ range .Instances }}
    <tr>
      <td>{{ .Name }}</td>
      <td>{{ .Created }} ago</td>
      <td>in {{ .Expires }}</td>
      {{ if ne .SwarmingTaskID "" }}
      <td><a href="https://chromium-swarm.appspot.com/task?id={{ .SwarmingTaskID }}">{{ .SwarmingTaskID }}</a></td>
      {{ else }}
      <td></td>
      {{ end }}
    </tr>
    {{ end }}
  </tbody>
</table>

<div class="footer"><strong>Version: </strong>{{ .Version }} | <a href="https://go.dev/s/gomote-swarming-tasks">go.dev/s/gomote-swarming-tasks</a></div>
</body>
</html>
