/**
 * Copyright 2022 The Go Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */
* {
  box-sizing: border-box;
}
body {
  color: #222;
  font-family: sans-serif;
  margin: 0;
}
h1,
h2,
h1 > a,
h2 > a,
h1 > a:visited,
h2 > a:visited {
  color: #375eab;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
h1 > a,
h2 > a {
  display: none;
  text-decoration: none;
}
h1:hover > a,
h2:hover > a {
  display: inline;
}
h1 > a:hover,
h2 > a:hover {
  text-decoration: underline;
}
pre {
  font-family: monospace;
  font-size: 9pt;
}
header {
  background: #e0ebf5;
  padding: 10px;
}
header h1 {
  display: inline;
  margin: 0;
  padding-top: 5px;
}
header h1 a {
  display: initial;
}
header nav {
  display: inline-block;
  margin-left: 20px;
}
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header nav ul li {
  display: inline-block;
}
header nav a {
  background: #375eab;
  border: 1px solid #375eab;
  border-radius: 5px;
  color: white;
  display: inline-block;
  font-size: 16px;
  margin: 0;
  margin-right: 5px;
  padding: 10px;
  text-decoration: none;
}
div.page {
  padding: 10px;
}
table {
  border-collapse: collapse;
  font-size: 9pt;
}
table td,
table th,
table td,
table th {
  padding: 2px 6px;
  text-align: left;
  vertical-align: top;
}
table thead tr {
  background: #fff !important;
}
.Dashboard {
  margin: 0;
  padding: 0;
}
.Dashboard-topbar {
  margin: 0;
  padding: 0.625rem;
}
table.Build tbody tr:nth-child(even) {
  background-color: #f4f4f4;
}
table.Build tbody tr.commit:hover {
  background-color: #ff9;
}
.ShortHash {
  display: inline-block;
  font-family: monospace;
  overflow: hidden;
  text-overflow: clip;
  width: 3.2rem;
}
.Dashboard-packageName {
  background: #e0ebf5;
  padding: 0.125rem 0.3125rem;
}
.Dashboard-controls {
  padding: 0.5rem;
}
.Build-scrollTable {
  overflow-x: auto;
}
.Build-descriptionColumn,
.Build-osColumn {
  border-right: 0.0625rem solid #ccc;
}
.Build-resultArch {
  max-width: 2rem;
  overflow: hidden;
  text-overflow: clip;
  whitespace: nowrap;
}
.Build-user {
  font-size: 0.8125rem;
  max-width: 3.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.Build-commitTime {
  color: #4e4e4e;
  font-size: 0.8125rem;
  white-space: nowrap;
}
.Build-desc {
  font-size: 0.8125rem;
  max-width: 8.875rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.Build-builderOSRow th {
  font-size: 0.8125rem;
  text-align: center;
}
.Build-builderArchRow th,
.Build-builderTagRow th {
  font-size: 0.625rem;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
}
.Build-result {
  text-align: center;
}
.Build-resultOK {
  font-size: 0.6875rem;
  color: #000;
  text-decoration: none;
}
.Build-resultFail {
  color: #C00;
}
.Build-resultNoise {
  text-decoration: none;
  color: #888;
}
.QueueStats-body {
  background-color: #f8f8f8;
}
.QueueStats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.QueueStats-queueTable {
  width: 100%;
}
.QueueStats-queueTableRow:nth-of-type(even) {
  background-color: #f8f8f8;
}
.QueueStats-queue {
  background-color: #fff;
  border: 0.0625rem solid #d6d6d6;
  border-radius: 0.1875rem;
  margin: 1rem;
  padding: 0.125rem;
  width: 44rem;
}
.QueueStats-queueTableCaption {
  display: flex;
  justify-content: space-between;
}
.QueueStats-captionTitle {
  flex-grow: 2;
}
.QueueStats-captionCol,
.QueueStats-capacities {
  width: 10rem;
}
.QueueStats-capacities {
  display: flex;
  justify-content: end;
}
.QueueStats-capacityDefinition {
  margin: 0 0.25rem;
}
