<html>
<head>
<title>Go development dashboard</title>
<link rel="stylesheet" href="/static/dash.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="/static/dash.js"></script>
</head>
<body>

<div class="loginbar">
{{if .User}}
	logged in as {{.User}} <a href="{{.Logout}}">log out</a><br>
	show
	<a href="javascript:show('all')" class="showbar" id="show-all">all</a> |
	<a href="javascript:show('release')" class="showbar" id="show-release">release</a> |
	<a href="javascript:show('mine')" class="showbar" id="show-mine">mine</a> |
	<a href="javascript:show('todo')" class="showbar" id="show-todo">my TODOs</a> |
	<a href="javascript:show('unassigned')" class="showbar" id="show-unassigned">unassigned</a>
	<br>
	<span id="showmutetext">include muted directories</span> <input type=checkbox id="showmute"></input>
{{else}}
	<a href="{{.Login}}">log in for personalization</a><br>
        show
        <a href="javascript:show('all')" class="showbar" id="show-all">all</a> |
	<a href="javascript:show('release')" class="showbar" id="show-release">release</a> |
	<a href="javascript:show('unassigned')" class="showbar" id="show-unassigned">unassigned</a>
{{end}}
| <span id="showcltext">show CLs</span> <input type=checkbox id="showcl" checked=checked></input>
| <span id="showissuetext">show issues</span> <input type=checkbox id="showissue" checked=checked></input>
</div>

<h1>Go development dashboard</h1>
<span>updated {{.Now}}</span><br>
<span class="howto"><a target="_blank" href="http://golang.org/s/go-dev-howto">how to use</a><br></span>
<br>

<table>
{{range .Dirs}}
	{{$dir := .Dir}}

	<tbody class="dir dir-{{$dir}} {{muted $dir}}">
	<tr class="dir dir-{{$dir}}">
		<td colspan=5>
			<b>{{.Dir}}</b> <span class="verb"><a class="dir-{{$dir}} mute" href="#">{{if muted $dir}}un{{end}}mute</a></span>

	{{range $ItemIndex, $Item := .Items}}
		{{with .Issue}}
			<tr class="item {{second $ItemIndex}}">
			<td class="highlight">
			<td class="issue id {{.Milestone | release}} "><a target="_blank" href="https://golang.org/issue/{{.Number}}">#{{.Number}}</a>
			<td class="author {{.Reporter | ghemail | mine}}">{{.Reporter | ghemail | short}}
			<td class="reviewer {{.Assignee | ghemail | mine}}">{{.Assignee | ghemail | short}}
			<td class="summary">{{.Title}}
				{{with .Milestone}}<span class="milestone {{. | release}}">{{.}}</span>{{end}}
				{{if not .Updated.IsZero}}
				<div class="extra">
					<span class="summary"><span class="age">last updated {{.Updated | since}}</span></span>
				</div>
				{{end}}
		{{end}}
		{{range .CLs}}
			<tr class="item {{if $Item.Issue}}nest{{end}} {{.NeedsReviewChanged | old}}">
			<td class="highlight">
			<td class="codereview id"><a target="_blank" href="https://golang.org/cl/{{.Number}}">CL {{.Number}}</a>
			<td class="author {{.Author | mine}} {{css "todo" (not .NeedsReview)}}">{{.Author}}
			<td class="reviewer {{.Reviewer | mine}} {{css "todo" .NeedsReview}}">
				<span id="reviewer-{{.Number}}">{{.Reviewer}}</span>
			<td class="summary">{{.Subject}}
				<span class="lgtmornot">{{range $r, $score := .Scores}}<span class="{{css "lgtm" (ge $score 0)}}{{css "notlgtm" (le $score 0)}}">{{$r | short}}{{if $score}} {{printf "%+d" $score}}{{end}}</span> {{end}}</span><br>
				<div class="extra">
				<span class="summary"><span class="age">last updated {{.NeedsReviewChanged | since}}</span>, {{if .NeedsReview}}<span class="needsreview">waiting for reviewer</span>{{else}}<span class="needswork">waiting for author</span>{{end}}</span><br>
				<span class="files">{{.Files | join " "}}</span>
				</div>
		{{end}}
	{{end}}
	</tbody>
{{end}}
</table>
</body>
</html>
