<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>org.golang.builder</string>
        <key>Program</key>
	<string>/usr/bin/tmux</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/tmux</string>
		<string>-C</string>
		<string>new-session</string>
		<string>/var/root/builder.sh</string>
	</array>
	<key>StandardErrorPath</key>
	<string>/private/var/mobile/stderr-builder</string>
	<key>StandardOutPath</key>
	<string>/private/var/mobile/stdout-builder</string>
        <key>RunAtLoad</key>
        <true/>
	<!--<key>KeepAlive</key>
	<true/>-->
	<key>UserName</key>
	<string>root</string>
	<key>GroupName</key>
	<string>wheel</string>
    </dict>
</plist>
